/********** ALBUM PAGE **********/

.individual-album img {
  width: 425px;
  height: auto;
  border: 3px solid var(--white-color);
  border-radius: var(--box-border-radius);
  margin-left: 100px;
}

.you-may-also-like {
  border: 0.9px solid var(--white-color);
  padding-left: 50px;
  padding: 25px 100px 15px 25px;
  margin-left: 50px;
  width: 35%;
  border-radius: var(--box-border-radius);
}

.you-may-also-like h3 {
  font-weight: var(--bold-weight);
  margin-bottom: 15px;
}

.album-page-information {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--component-bottom-margin);
}

.artist-name {
  font-weight: var(--bold-weight);
  margin-bottom: 15px;
}

.song-name {
  margin-bottom: 1px;
}
