/*
I have a lot of duplicate styling here, and I will work to consolidate the styling so 
that components/sections that reuse the same styling can be declared together */

/* Default HTML Elements */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--light-weight);
  font-size: 1.2em;
}

main {
  width: 100%;
}

h1 {
  color: var(--text-color);
  font-size: 4rem;
  margin-bottom: 8px;
}

h2 {
  font-size: 1.5em;
}

a {
  color: var(--accent-color);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--bold-weight);
}

/* End Default HTML ELements */

.accent {
  background: var(--accent-color);
}

.accent-text {
  color: var(--accent-color);
}

.page-hero-information {
  padding: var(--component-inside-padding);
  margin-top: 10px;
}

.page-hero-information h1 {
  margin-top: 13px;
}

/******** END HEADER SECTION ********/

/*********** SVG SECTION **********/

svg.icon {
  display: inline;
  height: 1.4em;
  width: 1.4em;
  vertical-align: top;
  fill: currentColor;
  margin: 4px 0px 0px 13px;
}

/********** STYLINGS THAT ARE REUSED AND TO BE REFACTORED **********/

.friends-list-friends {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 25px;
  margin-top: 15px;
}

.user-friend {
  border: 0.9px solid var(--section-border-color);
  width: 120px;
  height: 120px;
  border-radius: var(--box-border-radius);
}

.user-friend p,
.user-friend a {
  display: flex;
  margin-top: 60px;
  font-weight: var(--bold-weight);
  padding-left: 15px;
  /* using margin here is definitely not the most elegant solution
but I couldnt get flex working for aligning the text within the cards */
}

.subsection-header-line {
  display: flex;
}

.friends-list,
.playlist-list,
.past-games-list,
.find-friends,
.playlist-display {
  width: 20%;
}

.friends-list,
.past-games,
.playlist,
.current-favorites,
.find-friends {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--component-inside-padding);
  margin-bottom: 10px;
}

/* classes used in tandem with the toggle switch component */

/* TODO Update to be my own dark/light mode colorscheme; but for now taking inspiration from Youtube UX. */

.dark-mode {
  /* used for entire site background in darkmode UI*/
  --background-color: rgb(15, 15, 15);
  /* used for a menu background in darkmode UI*/
  --menu-color: rgb(40, 40, 40);
  /* used for text in darkmode UI*/
  --text-color: rgb(241, 241, 241);
  /* used for hovering over an element in darkmode UI*/
  --hover-color: rgb(62, 62, 62);
  /* used for dividing sections in darkmode UI*/
  --section-border-color: rgb(83, 83, 83);
  /* header set to text color in each mode */
  --header-color: rgb(241, 241, 241);
  --box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
}

.light-mode {
  /* used for entire site background in darkmode UI*/
  --background-color: rgb(255, 255, 255);
  /* for now menu background is the same as the entire site background - subject to change */
  --menu-color: rgb(217, 217, 217);
  /* used for text in lightmode UI - note: same as the darkmode background*/
  --text-color: rgb(15, 15, 15);
  /* used for hovering over an element in lightmode UI*/
  --hover-color: rgb(242, 242, 242);
  /* used for dividing sections in lightmode UI*/
  --section-border-color: rgb(229, 229, 229);

  /* header set to text color in each mode */
  --header-color: rgb(15, 15, 15);
}

/* banner classes used for dev notes (currently) */

.banner {
  background: var(--accent-color);
  font-size: 0.8em;
  text-align: center;
  padding: 1em;
  color: var(--background-color);
}

.banner h3 {
  font-weight: var(--heavy-weight);
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

.bold {
  font-weight: var(--heavy-weight);
}
