/********** PLAYLIST PAGE **********/

.playlist-songs,
.playlist-description {
  border: 0.9px solid var(--white-color);
  width: 38%;
  border-radius: var(--box-border-radius);
  padding: 15px;
}

.playlist-songs {
  margin-right: 50px;
}
.playlist-songs ol {
  list-style: decimal;
  padding-left: 22px;
  margin-bottom: 25px;
}

.playlist-songs h3,
.playlist-description h3 {
  font-weight: var(--bold-weight);
  margin-bottom: 7px;
}

.playlist-container {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin: 0px 0px 100px 100px;
}

.playlist-container svg {
  position: relative;
  bottom: 6px;
  margin-left: 10px;
}

.playlist-vibe {
  margin-bottom: 17px;
}
