html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* End Style Reset */

/* Default HTML Elements */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", Helvetica, sans-serif;
  background: #36454f;
  color: #faf9f6;
  font-weight: 300;
  font-size: 1.2em;
}

main {
  width: 55%;
  border: 2px solid black;
}

h1 {
  color: #faf9f6;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 8px;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
}

a {
  color: #feba4f;
}

/* End Default HTML ELements */

.accent {
  background: #feba4f;
}

/******** HEADER SECTION ********/

.match-the-vibe-header h3 {
  font-weight: 600;
  color: black;
  padding: 15px 15px 15px 100px;
}

.match-the-vibe-header {
  background: #faf9f6;
}

.profile-section-description {
  font-size: 0.75em;
  margin-top: 7px;
}

.user-profile-user-content {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.user-profile-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.user-profile-header {
  padding: 25px 15px 15px 100px;
}

.user-description {
  font-weight: 300;
  font-size: 1.5rem;
}

.friends-list,
.playlist-list,
.past-games-list,
.find-friends {
  width: 20%;
}

.friends-list,
.past-games,
.playlist,
.current-favorites,
.find-friends {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 15px 15px 100px;
  margin-bottom: 10px;
}

/******** END HEADER SECTION ********/

/******** FRIENDS, PLAYLISTS, GAMES SECTION ********/

.friends-list-friends,
.playlist-list,
.past-games-list {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 25px;
  margin-top: 15px;
}

.favorites-all-lists {
  /* does it make more sense to remove the above margin-top and add the above 3 classes to this rule? */
  margin-top: 15px;
}

.user-friend,
.single-playlist,
.game {
  border: 0.9px solid white;
  width: 120px;
  height: 120px;
  border-radius: 5px;
}

.user-friend p,
.single-playlist p,
.game p,
.user-friend a,
.single-playlist a,
.game a {
  display: flex;
  margin-top: 60px;
  font-weight: 600;
  padding-left: 15px;
  /* using margin here is definitely not the most elegant solution
but I couldnt get flex working for aligning the text within the cards */
}

.friends-list,
.find-friends {
  /* this is the top section, and it needs more spacing from the header */
  margin-top: 15px;
}

.subsection-header-line {
  display: flex;
}

/******** END FRIENDS, PLAYLISTS, GAMES SECTION ********/

/******** FAVORITES SECTION ********/

.current-favorites-h3 {
  font-weight: 600;
  margin-bottom: 15px;
  padding: 10px 0px 0px 10px;
}

.current-favorites {
  padding-bottom: 50px;
}

.favorite-album,
.favorite-song,
.favorite-artist {
  padding: 10px 0px 5px 10px;
}

.favorite-artist p,
.favorite-album p,
.favorite-song p {
  margin-top: 3px;
}

.favorite-artists-list,
.favorite-songs-list,
.favorite-albums-list {
  border: 0.9px solid white;
  border-radius: 5px;
  width: 265px;
}

.favorites-all-lists {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.song-title,
.artist-title,
.album-title {
  font-weight: 600;
}

/*********** SVG SECTION **********/

svg.icon {
  display: inline;
  height: 1.4em;
  width: 1.4em;
  vertical-align: top;
  fill: currentColor;
  margin: 4px 0px 0px 13px;
}

/********** HOME PAGE **********/

.home-page-hero-information {
  padding: 15px 15px 15px 100px;
}
